div(style="margin-top :50px; width:100%;")
	div(class="form-group")
		label(for="currentPass") Current Password 
		input(id="currentPass", placeholder="Current Password" class="form-control", ng-model="currentPass", style="width: 25%;")
		span(ng-show="currentPassReqd" style="color:red;") {{currentError}}
	div(class="form-group")
		label(for="newPassword") New Password
		input(id="newPassword", placeholder="New Password", class="form-control", ng-model="newPassword", style="width: 25%;")
		span(ng-show="newPassRequired" style="color:red;") {{newPassError}}
	button(class="btn btn-default" ng-click="save()") Save
