modal(title="Add new Driver", visible="showModal")
	form(role="form")
		div(class="form-group")
			label(for="name") Name
			input(class="form-control", id="name", ng-model = "form.name", placeholder="Enter name")
		div(class="form-group")
			label(for="drivingLicense") Driving License
			input(class="form-control", id="drivingLicense", ng-model = "form.drivingLicense")
		button(class="btn btn-default" ng-click="save()")
			|Save
div(class= "row")
	div(class= "col-md-12", style="font-size:20px")
		div(style="padding: 4px")
			div(style="padding 4px;")
				b
					|Drivers List
div(class= "row")
	div(class= "col-md-12")				
		a(href="javascript:void(0)",id= "btnAddNew" ng-click="toggleModal()")
			i(class="fa fa-plus")
			|Add a Driver	
div(class= "row")
	div(class= "col-md-12")
		table(st-table="displayForms",st-safe-src="forms",class="table table-striped")
			thead
				tr
					th(colspan="4")
						input(st-search="", class="form-control", placeholder="Search ...", type="text")
				tr
					th(st-sort="name") Name
					th(st-sort="passingExpiry") Driving License
					th
					th
			tbody
				tr(ng-repeat="row in displayForms")
					td {{row.name}}
					td {{row.drivingLicense}}
					td(style="width:20px")
						button(type="button", ng-click="editItem(row)", class="btn btn-sm btn-primary")
							i(class="glyphicon glyphicon-pencil")
					td(style="width:20px")
						button(type="button", ng-click="removeItem(row)", class="btn btn-sm btn-danger")
							i(class="glyphicon glyphicon-trash")		