modal(title="Add new Form", visible="showModal")
	form(role="form")
		div(class="form-group")
			label(for="name") Name
			input(class="form-control", id="name", ng-model = "form.name", placeholder="Enter Form name")
		div(class="form-group")
			label(for="taxExpiry") Tax Expiry
			input(class="form-control", id="taxExpiry", ng-model = "form.taxExpiry", placeholder="DD/MM/YYYY")
		div(class="form-group")
			label(for="passingExpiry") Passing Expiry
			input(class="form-control", id="passingExpiry", ng-model = "form.passingExpiry", placeholder="DD/MM/YYYY")
		div(class="form-group")
			label(for="permitExpiry") Permit Expiry
			input(class="form-control", id="permitExpiry", ng-model = "form.permitExpiry", placeholder="DD/MM/YYYY")
		div(class="form-group")
			label(for="licenseExpiry_Transport") License Expiry (Transport)
			input(class="form-control", id="licenseExpiry_Transport", ng-model = "form.licenseExpiryT", placeholder="DD/MM/YYYY")
		div(class="form-group")
			label(for="licenseExpiry_NonTransport") License Expiry (Non-Transport)
			input(class="form-control", id="licenseExpiry_NonTransport", ng-model = "form.licenseExpiryNT", placeholder="DD/MM/YYYY")
		div(class="form-group")
			label(for="insuranceExpiry") Insurance Expiry
			input(class="form-control", id="insuranceExpiry", ng-model = "form.insuranceExpiry", placeholder="DD/MM/YYYY")

		button(class="btn btn-default" ng-click="save()")
			|Save
div(class= "row")
	div(class= "col-md-12", style="font-size:20px")
		div(style="padding: 4px")
			div(style="padding 4px;")
				b
					|Form List
div(class= "row")
	div(class= "col-md-12")				
		a(href="javascript:void(0)",id= "btnAddNew" ng-click="toggleModal()")
			i(class="fa fa-plus")
			|Add a Form	
div(class= "row")
	div(class= "col-md-12")
		table(st-table="displayForms",st-safe-src="forms",class="table table-striped")
			thead
				tr
					th(colspan="5")
						input(st-search="", class="form-control", placeholder="Search ...", type="text")
				tr
					th(st-sort="name") Form Name
					th(st-sort="passingExpiry") Passing Expiry
					th(st-sort="permitExpiry") Permit Expiry
					th(st-sort="licenseExpiryT") License Expiry (Transport)
					th(st-sort="licenseExpiryNT") License Expiry (Non-Transport)
					th(st-sort="insuranceExpiry") Insurance Expiry
					
			tbody
				tr(ng-repeat="row in displayForms")
					td {{row.name}}
					td {{row.passingExpiry}}
					td {{row.permitExpiry}}
					td {{row.licenseExpiryT}}
					td {{row.licenseExpiryNT}}
					td {{row.insuranceExpiry}}
					td(style="width:20px")
						button(type="button", ng-click="editItem(row)", class="btn btn-sm btn-primary")
							i(class="glyphicon glyphicon-pencil")
					td(style="width:20px")
						button(type="button", ng-click="removeItem(row)", class="btn btn-sm btn-danger")
							i(class="glyphicon glyphicon-trash")		