div
	div(class="row")
		div(class="col-md-2")
			img(src="images/due.png", height="128px")
		div(class="col-md-10",style="color:blue;padding-top:10px;font-size:15px;font-weight:bold")
			div Tax due for {{notifications.taxExpiry_Due}} vehicles.
			div Fitness due for {{notifications.fitnessExpiry_Due}} vehicles.
			div Permit due for {{notifications.permitExpiry_Due}} vehicles.
			div National Permit due for {{notifications.nationalPermitExpiry_Due}} vehicles.
			div Insurane due for {{notifications.insuranceExpiry_Due}} vehicles.
			div Professional Tax due for {{notifications.professionalTaxExpiry_Due}} vehicles.
	div(class="row")
		div(class="col-md-2")
			img(src="images/pending.png", style="padding-left:10px", height="110px")		
		div(class="col-md-10", style="color:orange;padding-top:10px;font-size:15px;font-weight:bold")
			div Tax pending for {{notifications.taxExpiry_Pending}} vehicles.
			div Fitness pending for {{notifications.fitnessExpiry_Pending}} vehicles.
			div Permit pending for {{notifications.permitExpiry_Pending}} vehicles.
			div National Permit pending for {{notifications.nationalPermitExpiry_Pending}} vehicles.
			div Insurane pending for {{notifications.insuranceExpiry_Pending}} vehicles.
			div Professional Tax pending for {{notifications.professionalTaxExpiry_Pending}} vehicles.
	div(class="row")
		div(class="col-md-2")
			img(src="images/expired.png", height="128px")
		div(class="col-md-10",style="color:red;padding-top:10px;font-size:15px;font-weight:bold")
			div Tax expired for {{notifications.taxExpiry_Expired}} vehicles.
			div Fitness expired for {{notifications.fitnessExpiry_Expired}} vehicles.
			div Permit expired for {{notifications.permitExpiry_Expired}} vehicles.
			div National Permit expired for {{notifications.nationalPermitExpiry_Expired}} vehicles.
			div Insurane expired for {{notifications.insuranceExpiry_Expired}} vehicles.
			div Professional Tax expired for {{notifications.professionalTaxExpiry_Expired}} vehicles.