div
	div(class="row")
		div(class="col-md-3")
			a(href="#", title="Example tile shortcut", class="tile-box tile-box-shortcut btn-primary")
				span(class="bs-badge badge-absolute") {{totalVehicals}}
				div(class="tile-header") Total Vehicles
				div(class="tile-content-wrapper")
					i(class="glyph-icon icon-dashboard")
		div(class="col-md-3")
			a(href="#", title="Example tile shortcut", class="tile-box tile-box-shortcut btn-warning")
				span(class="bs-badge badge-absolute") {{totalExpired}}
				div(class="tile-header") Total Expired 
				div(class="tile-content-wrapper")
					i(class="glyph-icon icon-cogs")					
		div(class="col-md-3")
			a(href="#", title="Example tile shortcut", class="tile-box tile-box-shortcut btn-danger")
				span(class="bs-badge badge-absolute") {{totalDue}}
				div(class="tile-header") Total due
				div(class="tile-content-wrapper")
					i(class="glyph-icon icon-code-fork")
		div(class="col-md-3")
			a(href="#", title="Example tile shortcut", class="tile-box tile-box-shortcut btn-info")
				span(class="bs-badge badge-absolute") {{totalOverdue}}
				div(class="tile-header") Total overdue
				div(class="tile-content-wrapper")
					i(class="glyph-icon icon-desktop")
	div(class="row" style="padding-top: 10px;")		
		div(class="col-md-4")
			div(class="panel")
				div(class="panel-body")
					h3(class="title-hero" style="color:black!important") Due Summary
				div(class="example-box-wrapper")
					table(class="table" style="color:black!important")
						tbody
							tr
								td
									a(ng-href="/vehicalServices/1/0") Tax due for vehicles
								td {{notifications.taxExpiry_Due}} 
							tr
								td
									a(ng-href="/vehicalServices/1/1") Fitness due for vehicles
								td {{notifications.fitnessExpiry_Due}} 
							tr
								td
									a(ng-href="/vehicalServices/1/2") Permit due for vehicles
								td {{notifications.permitExpiry_Due}} 
							tr
								td
									a(ng-href="/vehicalServices/1/3") National Permit due for vehicles
								td {{notifications.nationalPermitExpiry_Due}} 
							tr
								td
									a(ng-href="/vehicalServices/1/4") Insurane due for vehicles
								td {{notifications.insuranceExpiry_Due}} 
							tr
								td
									a(ng-href="/vehicalServices/1/5") Professional Tax due for vehicles
								td {{notifications.professionalTaxExpiry_Due}}
							tr
								td
									a(ng-href="/vehicalServices/1/6") Green Tax due for vehicles
								td {{notifications.greenTaxExpiry_Due}}
							tr
								td Counter Tax due for vehicles
								td {{notifications.counterTaxExpiry_Due}}
							tr
								td
									Counter Permit due for vehicles
								td {{notifications.counterPermitExpiry_Due}}
							tr
								td
									Hazardous Chemical due for vehicles
								td {{notifications.HChemExpiry_Due}}																		
		div(class="col-md-4")
				div(class="panel")
					div(class="panel-body")
						h3(class="title-hero" style="color:black!important") Due Summary
					div(class="example-box-wrapper")
						table(class="table" style="color:black!important")
							tbody
								tr
									td
										a(ng-href="/vehicalServices/2/0") Tax expired for vehicles
									td {{notifications.taxExpiry_Expired}} 
								tr
									td
										a(ng-href="/vehicalServices/2/1") Fitness expired for vehicles
									td {{notifications.fitnessExpiry_Expired}} 
								tr
									td
										a(ng-href="/vehicalServices/2/2") Permit expired for vehicles
									td {{notifications.permitExpiry_Expired}} 
								tr
									td
										a(ng-href="/vehicalServices/2/3") National Permit expired for vehicles
									td {{notifications.nationalPermitExpiry_Expired}} 
								tr
									td
										a(ng-href="/vehicalServices/2/4") Insurane expired for vehicles
									td {{notifications.insuranceExpiry_Expired}} 
								tr
									td
										a(ng-href="/vehicalServices/2/5") Professional Tax expired for vehicles
									td {{notifications.professionalTaxExpiry_Expired}}
								tr
									td
										a(ng-href="/vehicalServices/2/6") Green Tax expired for vehicles
									td {{notifications.greenTaxExpiry_Expired}}
								tr
									td Counter Tax due for vehicles
									td {{notifications.counterTaxExpiry_Expired}}
								tr
									td
										Counter Permit due for vehicles
									td {{notifications.counterPermitExpiry_Expired}}
								tr
									td
										Hazardous Chemical due for vehicles
									td {{notifications.HChemExpiry_Expired}}
		div(class="col-md-4")
				div(class="panel")
					div(class="panel-body")
						h3(class="title-hero" style="color:black!important") Due Summary
					div(class="example-box-wrapper")
						table(class="table" style="color:black!important")
							tbody
								tr
									td
										a(ng-href="/vehicalServices/3/0") Tax overdue for vehicles
									td {{notifications.taxExpiry_Overdue}} 
								tr
									td
										a(ng-href="/vehicalServices/3/1") Fitness overdue for vehicles
									td {{notifications.fitnessExpiry_Overdue}} 
								tr
									td
										a(ng-href="/vehicalServices/3/2") Permit overdue for vehicles
									td {{notifications.permitExpiry_Overdue}} 
								tr
									td
										a(ng-href="/vehicalServices/3/3") National Permit overdue for vehicles
									td {{notifications.nationalPermitExpiry_Overdue}} 
								tr
									td
										a(ng-href="/vehicalServices/3/4") Insurane overdue for vehicles
									td {{notifications.insuranceExpiry_Overdue}} 
								tr
									td
										a(ng-href="/vehicalServices/3/5") Professional Tax overdue for vehicles
									td {{notifications.professionalTaxExpiry_Overdue}}
								tr
									td
										a(ng-href="/vehicalServices/3/6") Green Tax overdue for vehicles
									td {{notifications.greenTaxExpiry_Overdue}}
								tr
									td Counter Tax overdue for vehicles
									td {{notifications.counterTaxExpiry_Overdue}}
								tr
									td
										Counter Permit overdue for vehicles
									td {{notifications.counterPermitExpiry_Overdue}}
								tr
									td
										Hazardous Chemical overdue for vehicles
									td {{notifications.HChemExpiry_Overdue}}