doctype
html(ng-app="myApp")
	head
		meta(charset='utf8')
		base(href='/')
		title SABAK
		link(rel="stylesheet", href="css/app.css")
		link(href="css/signin.css", rel="stylesheet")
		link(rel="stylesheet", href="css/bootstrap-theme.min.css")
		link(href="css/font-awesome.min.css", rel="stylesheet")
		link(rel='stylesheet', type='text/css', href='css/admin-all-demo.css')
		script(type='text/javascript', src='js/js-core.js')
		script(type="text/javascript") $(window).load(function(){setTimeout(function() {$('#loading').fadeOut( 400, "linear" );}, 300);});
	body
		block body

